{% extends 'base.html' %}

{% block title %}Graph Metrics{% endblock %}

{% block content %}

<div class="container" style="margin-left: 80px; ">

    <div class="row">
        <div class="col-md-2">
          <div class="card-counter primary">
            <i class="fa fa-code-fork"></i>
            <span class="count-numbers">{{louvain}}</span>
            <span class="count-name"> Louvain</span>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card-counter danger">
            <i class="fa fa-code"></i>
            <span class="count-numbers">{{scc}}</span>
            <span class="count-name">SCC</span>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card-counter success">
            <i class="fa fa-database"></i>
            <span class="count-numbers">{{wcc}}</span>
            <span class="count-name">WCC</span>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card-counter info">
            <i class="fa fa-sitemap"></i>
            <span class="count-numbers">{{triangles}}</span>
            <span class="count-name">Triangles</span>
          </div>
        </div>
        <div class="col-md-2">
            <div class="card-counter warning">
              <i class="fa fa-sitemap"></i>
              <span class="count-numbers">{{modularity}}</span>
              <span class="count-name">Modularity</span>
            </div>
          </div>
      </div>
</div>


{% endblock %}