{% extends 'base.html' %}

{% block title %}Graph Metrics{% endblock %}

{% block content %}

<div class="container" style="margin-left: 80px; ">

    <div class="row">
        <div class="col-md-2">
          <div class="card-counter primary">
            <i class="fa fa-code-fork"></i>
            <span class="count-numbers">{{louvain}}</span>
            <span class="count-name"> Louvain</span>
          </div>
        </div>
    
        <div class="col-md-2">
          <div class="card-counter danger">
            <i class="fa fa-code"></i>
            <span class="count-numbers">{{scc}}</span>
            <span class="count-name">SCC</span>
          </div>
        </div>
    
        <div class="col-md-2">
          <div class="card-counter success">
            <i class="fa fa-database"></i>
            <span class="count-numbers">{{wcc}}</span>
            <span class="count-name">WCC</span>
          </div>
        </div>
    
        <div class="col-md-2">
          <div class="card-counter info">
            <i class="fa fa-sitemap"></i>
            <span class="count-numbers">{{triangles}}</span>
            <span class="count-name">Triangles</span>
          </div>
        </div>
        <div class="col-md-2">
            <div class="card-counter warning">
              <i class="fa fa-sitemap"></i>
              <span class="count-numbers">{{modularity}}</span>
              <span class="count-name">Modularity</span>
            </div>
          </div>
      </div>
</div>


<div class="card rounded-lg">

    <div class="card-title text-center text-white bg-info rounded mx-3 my-3 p-2">
        <div class="h6 my-2">
            {{gettext('general_info')}}
        </div>
    </div>

    <div class="card-body">
        <table class="table table-striped ">
          <thead>
            <th>{{gettext('university')}}</th>
            <th>{{gettext('departments')}}</th>
            <th>{{gettext('males')}}</th>
            <th>{{gettext('females')}}</th>
          </thead>

          <tbody>
            {% for uni in unis %}
            <tr>
              <td><a href="{{url_for('profforuni',uni=uni[0])}}"> {{ gettext(uni[0]) }}</a></td>
              <td>{{ uni[1]|join(', ') }}</td>
                {% for gd in gender_distr %}
                    {% if uni[0] == gd[0] %}
                        {% for num in gd[1] %}
                            <td>{{ num }}</td>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

</div>




{% endblock %}