{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- insert all the html code here -->


<section class="slider3 slider cid-sz7LLbfVfJ" id="slider3-2">

    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-10">
                <div class="mbr-pb-4">
                    <h4 class="mbr-fonts-style mbr-section-title mbr-bold align-center mbr-pb-2 display-2">{{gettext("title")}}</h4>

                </div>
                <div class="slider-box" data-autoplay="true" data-delay="2000"><amp-carousel class="carousel" width="13.5" height="9" layout="responsive" type="slides" autoplay="" delay="2000"><div class="carousel-img">
                            <amp-img class="mobirise-loader" src="../static/images/auth-1600x1067.jpg" alt="{{gettext("AUTH")}}" width="13.495782567947517" height="9" layout="responsive">
                                <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                            </amp-img>
                        </div><div class="carousel-img">
                            <amp-img class="mobirise-loader" src="../static/images/bordeu-1680x948.jpg" alt="{{ gettext("Bordeaux")}}" width="15.949367088607595" height="9" layout="responsive">
                                    <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                            </amp-img>
                        </div><div class="carousel-img">
                            <amp-img class="mobirise-loader" src="../static/images/ruhr-1000x666.jpg" alt="{{ gettext("Bochum")}}" width="13.513513513513512" height="9" layout="responsive">
                                <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                            </amp-img>
                        </div><div class="carousel-img">
                            <amp-img class="mobirise-loader" src="../static/images/porto-1836x1377.jpg" alt="{{ gettext("Porto")}}" width="12" height="9" layout="responsive">
                                <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                            </amp-img>
                        </div><div class="carousel-img">
                            <amp-img class="mobirise-loader" src="../static/images/lotz-1836x1224.jpg" alt="{{ gettext("Lotz")}}" width="13.5" height="9" layout="responsive">
                                <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                            </amp-img>
                        </div><div class="carousel-img">
                            <amp-img class="mobirise-loader" src="../static/images/oulu-512x288.jpg" alt="{{ gettext("Oulu")}}" width="16" height="9" layout="responsive">
                                <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                            </amp-img>
                        </div></amp-carousel>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amp-lightbox-gallery cid-sz7QYDVZR3" id="gallery1-5">


	<div class="container">
		<div class="title mbr-pb-4 align-center">
			<h3 class="mbr-section-title mbr-bold mbr-fonts-style mbr-pb-2 display-2">{{gettext("Gallery")}}</h3>

		</div>
		<div class="mbr-row">
            <div class="item gallery-image mbr-col-md-6 mbr-col-sm-12 mbr-col-lg-4">
				<div class="item-wrapper">
					<amp-img lightbox="gallery1-5" src="static/images/auth-logo-195x258.png" layout="responsive" width="347.9956395348837" height="460.425" alt="University of Auth" class="placeholder-loader lb-image">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        <div class="icon-wrap iconfont-wrapper">
                            <span class="amp-iconfont mobi-mbri-search mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="32" height="32"><path d="M23.7 22.3l-9.4-9.4C15.4 11.5 16 9.8 16 8c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c1.8 0 3.5-.6 4.9-1.7l9.4 9.4 1.4-1.4zM8 14c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z"></path></svg></span>
                        </div>
						<p class="item-sign mbr-fonts-style mbr-bold display-4">{{gettext("AUTH")}}</p>

					</amp-img>
				</div>
			</div><div class="item gallery-image mbr-col-md-6 mbr-col-sm-12 mbr-col-lg-4">
				<div class="item-wrapper">
					<amp-img lightbox="gallery1-5" src="static/images/porto-logo-696x696.png" layout="responsive" width="460.425" height="460.425" alt="image" class="placeholder-loader lb-image">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        <div class="icon-wrap iconfont-wrapper">
                            <span class="amp-iconfont mobi-mbri-search mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="32" height="32"><path d="M23.7 22.3l-9.4-9.4C15.4 11.5 16 9.8 16 8c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c1.8 0 3.5-.6 4.9-1.7l9.4 9.4 1.4-1.4zM8 14c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z"></path></svg></span>
                        </div>
						<p class="item-sign mbr-fonts-style mbr-bold display-4">{{ gettext("Porto")}}</p>

					</amp-img>
				</div>
			</div><div class="item gallery-image mbr-col-md-6 mbr-col-sm-12 mbr-col-lg-4">
				<div class="item-wrapper">
					<amp-img lightbox="gallery1-5" src="static/images/oulu-logo-600x600.png" layout="responsive" width="460.425" height="460.425" alt="University of Oulu" class="placeholder-loader lb-image">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        <div class="icon-wrap iconfont-wrapper">
                            <span class="amp-iconfont mobi-mbri-search mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="32" height="32"><path d="M23.7 22.3l-9.4-9.4C15.4 11.5 16 9.8 16 8c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c1.8 0 3.5-.6 4.9-1.7l9.4 9.4 1.4-1.4zM8 14c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z"></path></svg></span>
                        </div>
						<p class="item-sign mbr-fonts-style mbr-bold display-4">{{ gettext("Oulu")}}</p>

					</amp-img>
				</div>
			</div><div class="item gallery-image mbr-col-md-6 mbr-col-sm-12 mbr-col-lg-4">
				<div class="item-wrapper">
					<amp-img lightbox="gallery1-5" src="static/images/lotz-logo-512x210.png" layout="responsive" width="848.4571428571429" height="348" alt="University of Lotz" class="placeholder-loader lb-image">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        <div class="icon-wrap iconfont-wrapper">
                            <span class="amp-iconfont mobi-mbri-search mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="32" height="32"><path d="M23.7 22.3l-9.4-9.4C15.4 11.5 16 9.8 16 8c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c1.8 0 3.5-.6 4.9-1.7l9.4 9.4 1.4-1.4zM8 14c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z"></path></svg></span>
                        </div>
						<p class="item-sign mbr-fonts-style mbr-bold display-4">{{ gettext("Lotz")}}</p>

					</amp-img>
				</div>
			</div><div class="item gallery-image mbr-col-md-6 mbr-col-sm-12 mbr-col-lg-4">
				<div class="item-wrapper">
					<amp-img lightbox="gallery1-5" src="static/images/bordeux-logo-512x512.png" layout="responsive" width="348" height="348" alt="Bordeux" class="placeholder-loader lb-image">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        <div class="icon-wrap iconfont-wrapper">
                            <span class="amp-iconfont mobi-mbri-search mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="32" height="32"><path d="M23.7 22.3l-9.4-9.4C15.4 11.5 16 9.8 16 8c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c1.8 0 3.5-.6 4.9-1.7l9.4 9.4 1.4-1.4zM8 14c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z"></path></svg></span>
                        </div>
						<p class="item-sign mbr-fonts-style mbr-bold display-4">{{gettext("Bordeaux")}}</p>

					</amp-img>
				</div>
			</div><div class="item gallery-image mbr-col-md-6 mbr-col-sm-12 mbr-col-lg-4">
				<div class="item-wrapper">
					<amp-img lightbox="gallery1-5" src="static/images/ruhr-logo-500x500.png" layout="responsive" width="348" height="348" alt="RUB" class="placeholder-loader lb-image">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        <div class="icon-wrap iconfont-wrapper">
                            <span class="amp-iconfont mobi-mbri-search mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="32" height="32"><path d="M23.7 22.3l-9.4-9.4C15.4 11.5 16 9.8 16 8c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c1.8 0 3.5-.6 4.9-1.7l9.4 9.4 1.4-1.4zM8 14c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z"></path></svg></span>
                        </div>
						<p class="item-sign mbr-fonts-style mbr-bold display-4">{{ gettext("Bochum")}}</p>

					</amp-img>
				</div>
			</div>





		</div>
	</div>
</section>

<section class="02 mbr-section article cid-sz7MqG2o87" id="content2-3">



    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-sm-12 mbr-col-md-10 mbr-col-lg-10">
                <h3 class="mbr-fonts-style mbr-section-title mbr-bold mbr-pb-2 display-2">{{gettext("description_title")}}</h3>
                <p class="mbr-text mbr-fonts-style mbr-py-1 display-7"></p><p>{{gettext("intro")}}
<br>
<br>
<br>•	{{gettext("task1")}}
<br>•   {{gettext("task2")}}
<br>•	{{gettext("task3")}}
<br>
<br></p><p></p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section 01 cid-sz7UF6jpAn" id="content1-7">



     <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-col-sm-12 mbr-col-md-10">
                <h2 class="mbr-section-title align-center mbr-fonts-style mbr-bold display-1">{{gettext("team")}}</h2>


            </div>
        </div>
    </div>
</section>

<section class="015 mbr-section cid-sz7UG1u0yl" id="content15-8">



    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                <h3 class="mbr-section-title mbr-bold mbr-fonts-style align-center mbr-pb-2 display-5">
                    {{gettext("Giorgos")}}</h3>
                <p class="mbr-text mbr-fonts-style align-center mbr-py-1 display-4">gmichoul@csd.auth.gr<br>AEM: 82</p>
            </div>

            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                <h3 class="mbr-section-title mbr-bold mbr-fonts-style align-center mbr-pb-2 display-5">{{gettext("Stella")}}</h3>
                <p class="mbr-text mbr-fonts-style align-center mbr-py-1 display-4">
                    kyrastyl@csd.auth.gr<br>AEM: 76</p>
            </div>

            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                <h3 class="mbr-section-title mbr-bold mbr-fonts-style align-center mbr-pb-2 display-5">{{gettext("Dimitris")}}</h3>
                <p class="mbr-text mbr-fonts-style align-center mbr-py-1 display-4">
                    tourgaidi@csd.auth.gr<br>AEM: 66</p>
            </div>

            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 last-child">
                <h3 class="mbr-section-title mbr-bold mbr-fonts-style align-center mbr-pb-2 display-5">{{ gettext("Vasilis") }}</h3>
                <p class="mbr-text mbr-fonts-style align-center mbr-py-1 display-4">vmoschop@csd.auth.gr<br>AEM: 59</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}