{% extends 'base.html' %}

{% block title %}{{uni}}{% endblock %}

{% block content %}


<div class="card rounded-lg container text-center">

    <div class="card-title text-white bg-info rounded mx-3 my-3 p-2">
        <div class="mbr-text text-white display-5 my-2">
            {{gettext(uni)}}
        </div>
    </div>
    <div class="card-body row " style="overflow: auto;">
    {% for row in profs %}

        <div class="card rounded-lg w-25 col-sm">

            <div class="card-title text-white bg-secondary rounded mx-3 my-3 p-2">
                <div class="mbr-text text-white my-2" >
                    {{gettext(row[0])}}</i>
                </div>
            </div>

            <div class="container" style="width:350px; height:400px; overflow:scroll;">
                <table style="align-items: center;" class="table table-striped">
                  <thead >
                    <th>{{gettext('professor')}}</th>
                  </thead>

                  <tbody>
                    {% for prof in row[1] %}
                    <tr>
                        <td id="prof"><a href="{{url_for('profinfo',prof=prof)}}">{{ prof }}</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            

        </div>

    {% endfor %}
    </div>

</div>


{%  endblock %}
