{% extends 'base.html' %}

{% block title %}{{name}}{% endblock %}

{% block content %}

<div class="card rounded-lg container">

    <div class="card-title text-center text-white bg-info rounded mx-3 my-3 p-2">
        <div class="h6 my-2">
            <h2>{{name}} </h2>
        </div>
    </div>

    <div class="card-body ">
        <table>
          <thead>
            <th>{{gettext('attribute')}}</th>
            <th>{{gettext('value')}}</th>
          </thead>

          <tbody>
            {% for row in info %}
            <tr>
              <td>{{gettext(row[0])}}</td>
                {% if row[1] is iterable %}
                <td><a href={{row[1]}}>{{row[1]}}</a></td>
                {% else %}
                <td>{{gettext(row[1])}}</td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>


<body onload="draw('{{name}}')">
<div class="container">
  <div class="card-header bg-dark text-white text-center">
     <h3> Cooperates With</h3>
  </div>
  <div class="card-body">
    <div id="viz" ></div>
</div>
</div>
</body>


<script>
function draw(nm) {

const d=nm;
var config = {



container_id: "viz",
 server_url: "bolt://localhost:7687",
server_user: "neo4j",
server_password: "a",
d:nm,
     labels: {
           "Professor": {
              caption: "name",

                    },

            "Coauthor": {
                caption: "name",
                size:"citedby",
                community:"community",
                    },

                },

    relationships: {
         "cooperateWith": {
             caption: false,
                thickness:'i10index'
                    }
                },


                initial_cypher: 'MATCH (p:Professor {name:\"' +d+ '\"})-[r:cooperateWith]-(p2) RETURN *'


            };

            var viz = new NeoVis.default(config);
            viz.render();
          }
</script>

{% endblock %}