{% extends 'base.html' %}

{% block title %}Top-K{% endblock %}

{% block content %}

<form class="container text-center my-3 w-50 d-flex align-items-center justify-content-center align-self-center" action="{{ url_for('topk')}}" method="post">
    <label class="w-25 align-middle text-center h6 mx-auto" for="topk" style="text-align:center;">{{gettext('Specify number of results')}}</label>
    <input class="w-25 mr-2 form-control" id="topk" name="topk" type="number" min="1" max="50" value="5">
    <button class="btn btn-info w-25 rounded-pill font-weight-bold with-border">{{gettext('Submit')}}</button>
</form>

<div class="card rounded-lg container">

    <div class="card-title text-white bg-info rounded mx-3 my-3 p-2">
        <div class="h6 my-2">
            {{gettext('Top-K with k=')}}{{num}}
        </div>
    </div>
    <div class="card-body row">
        <table>
          <thead>
            <th>{{gettext('name')}}</th>
            <th>{{gettext('gender')}}</th>
            <th>{{gettext('coauthors')}}</th>
          </thead>

          <tbody>
            {% for prof in profwcoauthors %}
            <tr>
                <td><a href="{{url_for('profinfo',prof=prof[0])}}">{{ prof[0] }}</a></td>
                <td>{{prof[1]}}</td>
                <td>{{prof[2]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

</div>



<section class="mbr-section 04 cid-sz7XxKJA5p" id="content5-c">
    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-section-btn mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-8 align-center">
                <a class="btn btn-primary display-4" href="https://mobiri.se">Learn More</a>
                <a class="btn btn-secondary display-4" href="https://mobiri.se">Live Demo</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

