{% extends 'base.html' %}

{% block title %}Top-K{% endblock %}

{% block content %}

<div class="card rounded-lg">

    <div class="card-title text-white bg-primary rounded mx-3 my-3 p-2">
        <div class="h6 my-2">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{gettext('general_info')}}
        </div>
    </div>

    <div class="card-body">
        <table>
          <thead>
            <th>{{gettext('university')}}</th>
            <th>{{gettext('departments')}}</th>
            <th>{{gettext('males')}}</th>
            <th>{{gettext('females')}}</th>
          </thead>

          <tbody>
            {% for uni in unis %}
            <tr>
              <td><a href="{{url_for('profforuni',uni=uni[0])}}"> {{ gettext(uni[0]) }}</a></td>
              <td>{{ uni[1]|join(', ') }}</td>
                {% for gd in gender_distr %}
                    {% if uni[0] == gd[0] %}
                        {% for num in gd[1] %}
                            <td>{{ num }}</td>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

</div>


<section class="mbr-section 04 cid-sz7XxKJA5p" id="content5-c">
    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-section-btn mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-8 align-center">
                <a class="btn btn-primary display-4" href="https://mobiri.se">Learn More</a>
                <a class="btn btn-secondary display-4" href="https://mobiri.se">Live Demo</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

